apiVersion: v1
kind: PersistentVolume
metadata:
  name: redis 
spec:
  accessModes:
    - ReadWriteOnce
  capacity:
    storage: 1Gi
  hostPath:
    path: /data
  storageClassName: manual
  type: DirectoryOrCreate
  
